@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-success: #2ECC71;
  --color-warning: #FFC107;
  --color-danger: #E74C3C;

  --color-white: var(--white);
  --color-black: var(--black);
  --color-card: var(--card);
  --color-border_color: var(--border-color);
  --color-secondary: var(--secondary);
}

:root {
  /* Light Theme - High Contrast */
  --white: #FFFFFF;
  --black: #000000;

  --card: #FFFFFF;
  --border-color: #00000010;
  /* Very subtle black border */

  --primary: #000000;
  --primary-foreground: #FFFFFF;

  --accent: #D4AF37;
  /* Gold */
  --accent-foreground: #000000;

  --secondary: #4A4A4A;
}

/* .dark {
  Dark Theme - High Contrast
  --background: #000000;
  --foreground: #FFFFFF;

  --card: #000000;
  --border-color: #FFFFFF20;
  Subtle white border

  --primary: #FFFFFF;
  --primary-foreground: #000000;

  --accent: #D4AF37;
  Gold
  --accent-foreground: #000000;

  --secondary: #B0B0B0;
} */

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.2s, color 0.2s;
}